<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.red.point.o2c.mapper.LoggerMapper">
    <insert id="insertZLMoneyLOG" parameterType="map">
        INSERT
        INTO
        ytb_user_money_log
        (
        user_id,
        message,
        money,
        add_time,
        status,
        `type`
        )
        VALUES
        (
        #{userId},
        #{msg},
        #{num},
        now(),
        #{type},
        3
        )
    </insert>
</mapper>